* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  background-color: #eaeaea;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper,
.content{
  width: 100%;
  max-width: 1200px;
}

.content__header {
  text-align: center;
  font-weight: 500;
  color: #cccccc;
  text-shadow: 0 2px 3px rgba(255, 255, 255, .5);
}